

<div class="grid-container">
  <div class="menu-icon" (click)="toggleSidenav()">
      <i class="bi bi-list"></i>
  </div>

  

  <aside class="sidenav" [ngClass]="{'active': sidenavOpen}">
      <div class="sidenav__close-icon" (click)="toggleSidenav()">
          <i class="bi bi-x-circle"></i>
      </div>
      <ul class="sidenav__list">
          <li class="sidenav__list-item"><a class="nav-link" routerLink="/Home">
            <i class="bi bi-grid"></i>
            <span>Dashboard</span>
          </a></li>
          <li class="sidenav__list-item"><a class="nav-link" routerLink="users-profile">
            <i class="bi bi-person"></i>
            <span>Profile</span>
          </a></li>
          <li class="sidenav__list-item"><a class="nav-link" routerLink="/permissible-height">
            <i class="bi bi-building"></i>
            <span>Permissible Height</span>
          </a></li>
          <li class="sidenav__list-item"><a class="nav-link" routerLink="/UserLogin">
            <i class="bi bi-box-arrow-in-right"></i>
            <span>Login</span>
          </a></li>
          <li class="sidenav__list-item"><a class="nav-link" routerLink="/user-registration">
            <i class="bi bi-card-list"></i>
            <span>Register</span>
          </a></li>
          <li class="sidenav__list-item">
            <a class="nav-link" routerLink="/subscription">
              <i class="fas fa-newspaper"></i>
              <span>Subscription</span>
            </a>
          </li>
      </ul>
  </aside>
  </div>